MBM.WPF.CLIENT/Service References/WCFStockService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StockService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64978/StockService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64978/StockService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64978/StockService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MBM.BL" />
      <xsd:import schemaLocation="http://localhost:64978/StockService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStockService_AddStockEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStockEntry" />
  </wsdl:message>
  <wsdl:message name="IStockService_AddStockEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStockEntryResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetStockEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockEntry" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetStockEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockEntryResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetStockEntries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockEntries" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetStockEntries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockEntriesResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_UpdateStockEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStockEntry" />
  </wsdl:message>
  <wsdl:message name="IStockService_UpdateStockEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStockEntryResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_DeleteStock_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStock" />
  </wsdl:message>
  <wsdl:message name="IStockService_DeleteStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IStockService">
    <wsdl:operation name="AddStockEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/AddStockEntry" message="tns:IStockService_AddStockEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/AddStockEntryResponse" message="tns:IStockService_AddStockEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetStockEntry" message="tns:IStockService_GetStockEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetStockEntryResponse" message="tns:IStockService_GetStockEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockEntries">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetStockEntries" message="tns:IStockService_GetStockEntries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetStockEntriesResponse" message="tns:IStockService_GetStockEntries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStockEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/UpdateStockEntry" message="tns:IStockService_UpdateStockEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/UpdateStockEntryResponse" message="tns:IStockService_UpdateStockEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/DeleteStock" message="tns:IStockService_DeleteStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/DeleteStockResponse" message="tns:IStockService_DeleteStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStockService" type="tns:IStockService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStockEntry">
      <soap:operation soapAction="http://tempuri.org/IStockService/AddStockEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockEntry">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetStockEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockEntries">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetStockEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStockEntry">
      <soap:operation soapAction="http://tempuri.org/IStockService/UpdateStockEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStock">
      <soap:operation soapAction="http://tempuri.org/IStockService/DeleteStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockService">
    <wsdl:port name="BasicHttpBinding_IStockService" binding="tns:BasicHttpBinding_IStockService">
      <soap:address location="http://localhost:64978/StockService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>