MBM.WPF.CLIENT/Service References/WCFStockService/StockService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64978/StockService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MBM.BL" />
  <xs:element name="AddStockEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MBM.BL" minOccurs="0" name="stock" nillable="true" type="q1:StockEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStockEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStockEntryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MBM.BL" minOccurs="0" name="GetStockEntryResult" nillable="true" type="q2:StockEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MBM.BL" minOccurs="0" name="filter" nillable="true" type="q3:Filter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MBM.BL" minOccurs="0" name="GetStockEntriesResult" nillable="true" type="q4:ArrayOfStockEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStockEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MBM.BL" minOccurs="0" name="stock" nillable="true" type="q5:StockEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStockEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStockEntryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStockResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>