MBM.Data/Service References/WCFFilterService/FilterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64978/FilterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MBM.BL" />
  <xs:import schemaLocation="http://localhost:64978/FilterService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetFilter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MBM.BL" minOccurs="0" name="GetFilterResult" nillable="true" type="q1:Filter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMinMaxValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMinMaxValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MBM.BL" minOccurs="0" name="GetMinMaxValuesResult" nillable="true" type="q2:Filter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbols">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbolsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSymbolsResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>